<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.sadang.spring.test.mybatis.repository.EstateRepository">

	<select id="selectEstateId" parameterType="int"
		resultType="com.sadang.spring.test.mybatis.domain.Estate">
	
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
		
	</select>

	<select id="selectEstateRent" parameterType="int"
		resultType="com.sadang.spring.test.mybatis.domain.Estate">
	
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`rentPrice` &lt; #{rent}
		
	</select>
	
	<select id="selectEstateAreaPrice" parameterType="map"
		resultType="com.sadang.spring.test.mybatis.domain.Estate">
		
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`area` &gt;= #{area} AND `price` &lt;= #{price}
		ORDER BY `createdAt` DESC
			
	</select>
	
	<insert id="insertEstateByObject" parameterType="com.sadang.spring.test.mybatis.domain.Estate">
		INSERT INTO `real_estate`
		(
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
		)
		VALUE
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
		)
	
	</insert>
	
	<insert id="insertEstate" parameterType="map">
		INSERT INTO `real_estate`
		(
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
		)
		VALUE
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
		)
		
	</insert>
	
	<update id="updateEstate" parameterType="map">
		UPDATE `real_estate`
		SET
			`type` = #{type}
			,`price` = #{price}
		WHERE
			`id`= #{id}
	</update>
	
	<delete id="deleteEstate" parameterType="int">
		DELETE FROM `real_estate`
		WHERE `id` = #{id}
	
	</delete>
</mapper>